
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
}
.btn{
    margin: 30px;
    display: flex;
    justify-content: center;

}
#inc{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
#dec{
    height: 50px;
    width: 50px;
    cursor: pointer;
}
.val{
    text-align: center;
}
#rstt{
    display: flex;
    justify-content: center;
}
#rst{
    height: 50px;
    width: 100px;
    margin-top: 20px;
}